<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Forgot Password</title>
</head>
<body>
	<form action="#" method="post" th:action="@{/forgotPassword}" th:object="${forgotUser}" >
		<table>
			<tr>
				<td>
					<label> User Name : </label>
				</td>
				<td>
					<input type="text" th:field="*{userName}" />
				</td>
			</tr>
			<tr>
				<td>
					<label> Security Question : </label>
				</td>
				<td>
					<div>
						<select name="questionList" th:field="*{secQuest}">
							<option value="">Select Option</option>
							<option th:each="question : ${questions}" th:value="${question.question}"
								th:text="${question.id} + ' : ' + ${question.question}"></option>
						</select>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<label> Answer : </label>
				</td>
				<td>
					<input type="password" th:field="*{answer}" />
				</td>
			</tr>
			<tr>
				<td>
					<label> New Password : </label>
				</td>
				<td>
					<input type="password" th:field="*{newPassword}" />
				</td>
			</tr>
			<tr>
				<td>
					<label> Confirm New Password : </label>
				</td>
				<td>
					<input type="password" th:field="*{confirmPassword}" />
				</td>
			</tr>
			<tr>
				<td colspan="2" align="right">
					<input type="submit" value="Reset" />
				</td>
			</tr>
		</table>
	</form>
</body>
</html>