<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Forgot Password</title>
</head>
<body>
	<form action="#" method="post" th:action="@{/forgotPassword}" th:object="${forgotUser}" >
		<table>
			<tr>
				<td>
					<label> User Id : </label>
				</td>
				<td>
					<input type="text" th:field="*{userId}" />
				</td>
			</tr>
			<tr>
				<td>
					<label> Security Question : </label>
				</td>
				<td>
					<label th:text="*{secQuest}"></label>
				</td>
			</tr>
			<tr>
				<td>
					<label> Answer : </label>
				</td>
				<td>
					<input type="password" th:field="*{answer}" />
				</td>
			</tr>
		</table>
	</form>
</body>
</html>