<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>EyeManage</title>
		<meta name="viewport" http-equiv="Content-Type" content="text/html,charset=UTF-8, width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css"  th:href="@{/css/bootstrap.css}" />
		<link rel="stylesheet" type="text/css"  th:href="@{/css/style.css}" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	</head>
	<body>
	
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" th:href="@{/}">EyeManage</a>
				</div>
			</div>
		</nav>
	
		<div class="container">
			<div class="jumbotron">
				
				<h1>EyeManage</h1>
				<p class="text-primary">
					A simple to use Electronic Medical Record and Clinic Management software for Clinics.
				    Browser based software deployed on your Local Area Network or the Cloud as per your need.
				    We provide Accessible, On Time and Patient Centric care with managed Workflow and Reminders."
				</p>
				
				<a th:href="@{/login}" class="btn btn-primary" role="button">Login</a>
				<a th:href="@{/registration}" class="btn btn-success" role="button">Register</a>	
			</div>
	
		</div>
		<!-- /.container -->
	
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	    
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
	    
	</body>
</html>
