<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Login</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			
		<link rel="stylesheet" type="text/css"  th:href="@{/css/bootstrap.css}" />
		<link rel="stylesheet" type="text/css"  th:href="@{/css/style.css}" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		
	</head>
	<body>
		<!-- 
		<p th:text="'A : ' + ${a}"></p>
		<p th:text="'B : ' + ${b}"></p>
		<p th:text="'C : ' + ${c}"></p>
		 -->
		<form action="#" method="post" th:action="@{/login}" th:object="${user}">
			 <table>
				 <tr>
				 	<td>
					 	<label> UserName : </label>
					 	<input type="text" th:field="*{userName}" />
					 </td>
				 </tr>
				 <tr>
				 	<td>
						<label> Password : </label>
						<input type="password" th:field="*{password}"/>
					 </td>
				 </tr>
				 <tr>
				 	<td colspan="2" align="right">
				 		<input type="submit" value="Login" onclick="message();"/>
				 	</td>
				 </tr>
				 <tr>
				 	<td>
				 		<a th:href="@{/forgotPassword}">Forgot Password</a>
				 	</td>
				 </tr>
			 </table>
		</form>
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	    
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
	    <script type="text/javascript" th:src="@{/js/main.js}"></script>
	    
	</body>
</html>
