<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Search a Patient</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			
		<link rel="stylesheet" type="text/css"  th:href="@{/css/bootstrap.css}" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-inverse" >
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" th:href="@{/}">EyeManage</a>
				</div>
			</div>
		</nav>
		<form action="#" method="post" th:action="@{/dashboard/patientSearch}" th:object="${viewPatient}" class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-sm-2"> Search By : </label>
				<div class="col-sm-2">
			 		<select name="filterByList" id="searchDrop" th:field="*{searchFilter}" class="form-control">
						<option value="" >Select a Filter</option>
						<option th:value="id">Id</option>
						<option th:value="name">Name</option>
						<option th:value="age">Age</option>
					</select>
				</div>
				
				<div class="col-sm-3 input-group">
			 		<input type="text" class="form-control" id="searchValue" th:field="*{searchText}" placeholder="Enter a Text"/>
					<div class="input-group-btn">
						<button class="btn btn-default" type="submit">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="table-responsive" th:if="${not #lists.isEmpty(patientDetails)}">
				<table class="table table-striped" id="resultTable">
					<thead>
						<tr>
							<th>Patient Id</th>
							<th>Patient Name</th>
							<th>Gender</th>
							<th>Age</th>
							<th>View</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="patient : ${patientDetails}" class="clickable-row" th:id="${patient.patientId}">
							<td th:text="${patient.patientId}"></td>
							<td th:text="${patient.firstName} + ' ' + ${patient.lastName}"></td>
							<td th:text="${patient.gender}"></td>
							<td th:text="${patient.age}"></td>
							<td>
								<button type="button" class="btn btn-info" data-toggle="modal" 
									th:attr="data-target='#viewModal' + ${patient.patientId}">View</button>
									
								<!-- View Modal -->
								<div th:attr="id='viewModal' + ${patient.patientId}" class="modal fade" role="dialog">
									<div class="modal-dialog">
									    <!-- Modal content-->
									    <div class="modal-content">
									    	<div class="modal-header">
									        	<button type="button" class="close" data-dismiss="modal">&times;</button>
									        	<h4 class="modal-title">Personal Details</h4>
									      	</div>
									     	<div class="modal-body">
									     		<table class="table table-striped" >
									     			<tr><th>Patient Id</th><td th:text="${patient.patientId}"></td></tr>
													<tr><th>First Name</th><td th:text="${patient.firstName}"></td></tr>
													<tr><th>Last Name</th><td th:text="${patient.lastName}"></td></tr>
													<tr><th>Gender</th><td th:text="${patient.gender}"></td></tr>
													<tr><th>Birth Date</th><td th:text="${patient.birthDate}"></td></tr>
													<tr><th>Age</th><td th:text="${patient.age}"></td></tr>
													<tr><th>Email</th><td th:text="${patient.email}"></td></tr>
													<tr><th>Mobile</th><td th:text="${patient.mobile}"></td></tr>
													<tr><th>Phone</th><td th:text="${patient.phoneNumber}"></td></tr>
													<tr><th>Registration Date</th><td th:text="${patient.firstVisitDate}"></td></tr>
									     		</table>
									      	</div>
									      	<div class="modal-footer">
									        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									      	</div>
									    </div>
								  	</div>
								</div>
							</td>
							<td>
								<button type="button" class="btn btn-success" data-toggle="modal" 
								th:attr="data-target='#editModal' + ${patient.patientId}">Edit</button>
								
								<!-- Edit Modal -->
								<div th:attr="id='editModal' + ${patient.patientId}" class="modal fade" role="dialog">
									<div class="modal-dialog">
									    <!-- Modal content-->
									    <div class="modal-content">
									    	<div class="modal-header">
									        	<button type="button" class="close" data-dismiss="modal">&times;</button>
									        	<h4 class="modal-title">Edit Personal Details</h4>
									      	</div>
									     	<div class="modal-body">
									     		<table class="table table-striped" >
									     			<tr>
									     				<th>Patient Id</th>
									     				<td>
									     					<input id="patientId_edit" type="text" th:value="${patient.patientId}" readonly="true"/>
									     				</td>
									     			</tr>
													<tr>
														<th>First Name</th>
														<td>
															<input id="patientFirstName_edit" type="text" th:value="${patient.firstName}"/>
														</td>
													</tr>
													<tr>
														<th>Last Name</th>
														<td>
															<input id="patientLastName_edit" type="text" th:value="${patient.lastName}"/>
														</td>
													</tr>
													<tr>
														<th>Gender</th>
														<td>
															<input id="patientGender_edit" type="text" th:value="${patient.gender}"/>
														</td>
													</tr>
													
													<tr>
														<th>Birth Date</th>
														<td>
															<input id="patientBirthDate_edit" type="text" th:value="${patient.birthDate}" readonly="true"/>
														</td>
													</tr>
													<tr>
														<th>Age</th>
														<td>
															<input id="patientAge_edit" type="text" th:value="${patient.age}" readonly="true"/>
														</td>
													</tr>
													<tr>
														<th>Email</th>
														<td>
															<input id="patientEmail_edit" type="text" th:value="${patient.email}"/>
														</td>
													</tr>
													<tr>
														<th>Mobile</th>
														<td>
															<input id="patientMobile_edit" type="text" th:value="${patient.mobile}"/>
														</td>
													</tr>
													<tr>
														<th>Phone</th>
														<td>
															<input id="patientPhoneNumber_edit" type="text" th:value="${patient.phoneNumber}"/>
														</td>
													</tr>
													<tr>
														<th>Registration Date</th>
														<td th:text="${patient.firstVisitDate}">
														</td>
													</tr>
									     		</table>
									      	</div>
									      	<div class="modal-footer">
									      		<button type="button" class="btn btn-success edit_model" data-dismiss="modal"
									      		onclick="editBtn(document.getElementById('patientId_edit').value, 
									      				document.getElementById('patientFirstName_edit').value,
									      				document.getElementById('patientLastName_edit').value,
									      				document.getElementById('patientGender_edit').value,
									      				document.getElementById('patientEmail_edit').value,
									      				document.getElementById('patientMobile_edit').value,
									      				document.getElementById('patientPhoneNumber_edit').value);">
									      			<!-- Added removed code here th:attr = "data-id='edit' + ${patient.firstName}" -->
									      			Submit</button>
									        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									      	</div>
									    </div>
								  	</div>
								</div>
							</td>
							<!-- h:onclick="'doSomething(\''+${val1}+ '\',\''+${val2}+'\',\''+${val3}+'\');'" -->
							<td>
								<button type="button" class="btn btn-danger" 
									th:onclick="'deleteBtn(\'' + ${patient.patientId} + '\');'">Delete</button>
							</td>
							<!-- <button class="btn btn-danger">Delete</button>  ${patient.patientId} -->
						</tr>
					</tbody>
				</table>
			</div>
			<p id="msg"></p>
		</form>
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	    
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
	    <script type="text/javascript" th:src="@{/js/main.js}"></script>
	    <script type="text/javascript" th:src="@{/js/ajaxCalls.js}"></script>
	    
	</body>
</html>