<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Search a Patient</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			
		<link rel="stylesheet" type="text/css"  th:href="@{/css/bootstrap.css}" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	</head>
	<body>
	
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	    
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
	    
	</body>
</html>