<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Patient</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
		<link rel="stylesheet" type="text/css"  th:href="@{/css/bootstrap.css}" />
		<link rel="stylesheet" type="text/css"  th:href="@{/css/style.css}" />
		
		<script type="text/javascript" th:src="@{/js/jquery3.min.js}"></script>
	</head>
	<body>
	<div id="wrapper" class="toggled">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					
					<a class="navbar-brand" th:href="@{/}">
					<button type="button" id="menu-toggle" class="btn btn-link"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
					EyeManage</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li><a type="submit" th:href="@{/dashboard/logout}" class="btn btn-link"><span class="glyphicon glyphicon-off"></span>  Logout</a></li>
				</ul>
			</div>
		</nav>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        
                    </a>
                </li>
                <li>
                    <a th:href="@{/dashboard/home}"><span class="glyphicon glyphicon-dashboard"></span>   Dashboard</a>
                </li>
                <li>
                    <a th:href="@{/dashboard/patient}"><span class="glyphicon glyphicon-user"></span>   Patients</a>
                </li>
                <li>
                    <a th:href="@{/dashboard/cases}" ><span class="glyphicon glyphicon-list-alt"></span>   Cases</a>
                </li>
                <li>
                    <a th:href="@{/dashboard/settings}"><span class="glyphicon glyphicon-cog"></span>   Settings</a><hr/>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-info-sign"></span>   About</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-envelope"></span>   Contact</a>
                </li>
            </ul>
        </div>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                    <br/><br/>
					<div th:if="${param.patientAddedSuccess != null}" class="alert alert-success " th:text="#{patient.add.success} + ' with Id - ' +  ${param.patientAddedSuccess[0]}"></div>
				    <div class="container dynamicTile">
					<div class="row ">
					    <div class="col-sm-2 col-xs-4">
					    	<div id="tile1" class="tile">
					        
					         <div class="carousel slide" data-ride="carousel">
					          <!-- Wrapper for slides -->
					          <div class="carousel-inner">
					            <div class="item active">
					             <a th:href="@{/dashboard/patientCreate}"><img th:src="@{/img/plus.png}" class="img-responsive tilecaption"/></a>
					            </div>
					            <div class="item">
					               <h3><a th:href="@{/dashboard/patientCreate}" class="tilecaption">Add Patient</a></h3>
					            </div>
					          </div>
					        </div>
					         
					    	</div>
						</div>
						<div class="col-sm-2 col-xs-4">
							<div id="tile2" class="tile">
					    	 
					         <div class="carousel slide" data-ride="carousel">
					          <!-- Wrapper for slides -->
					          <div class="carousel-inner">
					            <div class="item active" >
					            <a th:href="@{/dashboard/patientSearch}"><img th:src="@{/img/search.png}" class="img-responsive tilecaption"/></a>
					            </div>
					            <div class="item">
					             <h3><a th:href="@{/dashboard/patientSearch}" class="tilecaption">Search Patient</a></h3>
					            </div>
					          </div>
					        </div>
					      </div>
					    </div>
				    </div>
                </div>
            </div>
         </div>
        </div>
       </div>
        <!-- /#page-content-wrapper -->
    </div>
    
		<a th:href="@{/dashboard/patientCreate}">Add a Patient</a>
		<a th:href="@{/dashboard/patientSearch}">Search a Patient</a>
		<div th:if="${param.patientCreateResult != null}" class="alert alert-success " th:text="#{patient.add.success} + ' with Id - ' +  ${param.patientCreateResult[0]}"></div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	    	    
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
	    <script>
   		    $("#menu-toggle").click(function(e) {
    	    e.preventDefault();
       	    $("#wrapper").toggleClass("toggled");
    	});
   		$( document ).ready(function() {
   		    $(".tile").height($("#tile1").width());
   		    $(".carousel").height($("#tile1").width());
   		     $(".item").height($("#tile1").width());
   		     
   		    $(window).resize(function() {
   		    if(this.resizeTO) clearTimeout(this.resizeTO);
   			this.resizeTO = setTimeout(function() {
   				$(this).trigger('resizeEnd');
   			}, 10);
   		    });
   		    
   		    $(window).bind('resizeEnd', function() {
   		    	$(".tile").height($("#tile1").width());
   		        $(".carousel").height($("#tile1").width());
   		        $(".item").height($("#tile1").width());
   		    });

   		});
    	</script>
	</body>
</html>