<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Register</title>
</head>
<body>
<h2>Register</h2>
<br/>
<form action="#" method="post" th:action="@{/registration}" th:object="${newUser}">
	 <table>
			<tr>
				<td>
					<label> Name : </label>
				</td>
				<td>
					<input type="text" th:field="*{name}" />
				</td>
			</tr>
			<tr>
				<td>
					<label> UserID : </label>
				</td>
				<td>
					<input type="text" th:field="*{userId}" />
				</td>
			</tr>
			<tr>
				<td>
					<label> Email : </label>
				</td>
				<td>
					<input type="text" th:field="*{email}" />
				</td>
			</tr>
			<tr>
				<td>
					<label> Password : </label>
				</td>
				<td>
					<input type="password" th:field="*{password}" />
				</td>
			</tr>
			<tr>
				<td>
					<label>Confirm Password : </label>
				</td>
				<td>
					<input type="password" th:field="*{cnfPassword}" />
				</td>
			</tr>
			<tr>
				<td>
					<label> Security Question : </label>
				</td>
				<td>
					<select>
					  	<option value="1">First</option>
					  	<option value="2">Second</option>
					  	<option value="3">Third</option>
						<option value="4">Fourth</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<label> Answer : </label>
				</td>
				<td>
					<input type="password" th:field="*{answer}" />
				</td>
			</tr>
			<tr>
				<td>
					<input type="submit" value="Register" />
				</td>
			</tr>
		</table>
</form>
</body>
</html>